
<div style="text-align: left;">

<li role="presentation"><%= link_to 'Home', '/toy/Home'%></li>
<li role="presentation"><%= link_to 'About', '/toy/About'%></li>
<li role="presentation" ><%= link_to 'Contacts', '/toy/Contacts'%></li>
<li role="presentation" class="active"><%= link_to 'Users', '#'%></li>

</div>