<ul class="nav nav-pills">
  <li role="presentation"><%= link_to 'Home', '/toy/Home'%></li>
  <li role="presentation"><%= link_to 'About', '/toy/About'%></li>
  <li role="presentation" class="active"><a href="Contacts">Contacts</a></li>
  <li role="presentation"><%= link_to 'Users',users_path%></li>
</ul>
<h1>You are in CONTACTS</h1>
<p>Find me in app/views/toy/Contacts.html.erb</p>
