<ul class="nav nav-pills" >
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><%= link_to 'About', '/toy/About'%></li>
  <li role="presentation"><%= link_to 'Contact', '/toy/Contacts'%></li>
  <li role="presentation"><%= link_to 'Users', users_path%></li>
</ul>
<h1>You are at HOME</h1>

<p>Find me in app/views/toy/Home.html.erb</p>
